// website theme
$theme-colors: ("primary": #f8f0fb, "gray": #50514f, "yellow": #ffff82, "red": #931f1d, "nav-color": #00072d);

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
	background-color: #f8f0fb;
}

header {
	nav.navbar {
		a.navbar-brand {
		}

		div.collapse {
			ul.navbar-nav {
				li.active {
					font-weight: 700;
				}
			}
		}
	}
}

div.card-group {
	border-radius: 20px;
}

div.card-body {
	height: 250px;
}

img.card-img-top {
	height: 396px;
}
