// website theme
$theme-colors: (
	"primary": #677DB7,
	"landing-page": #C9D6EA4D,
	"onyx": #191308,
	"licorice": #353B3C,
);

@import '../../node_modules/bootstrap/scss/bootstrap';

div#carouselExampleCaptions {
	div.carousel-inner {
		div.carousel-item {
			img {
				filter: grayscale(100%);
			}

			div.container {
				border-radius: 20px;
			}
		}
	}
}

$breakpoint-tablet: 300px;
$expand: 500px;
@media (min-width: $breakpoint-tablet) and (max-width: $expand) {
	#brgy-text, #move {
		font-size: 10px;
	}
	#brgy-header {
		font-size: 20px;
	}
}

$breakpoint-tablet: 300px;
$expand: 500px;
@media (min-width: $breakpoint-tablet) and (max-width: $expand) {
	#brgy-header {
		font-size: 20px;
	}
}